body{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none
}

img {
    border: 0
}

a {
    color: #3B8DD1;
    text-decoration: none
}

a:hover {
    color: #8CAC52
}

.btn-line {
    border-top: 1px solid #ddd;
    text-align: center;
    position: relative;
    background: #fff;
    margin: 0 5%;
}

.upload-content {
    position: relative;
    width: 90%;
    min-height: 115px;
    max-height: 340px;
    overflow: hidden;
    margin: 10px 5%;
}

.upload-content-img {
    float: left;
    width: 31%;
    margin: 0.2% 1.1%;
}

.bgM{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.85);
    overflow: hidden;
}
.bgM img{
    width: 100%;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 1001;
    margin: auto;
}